.kubevirt-cpu-pinning__schedule-title {
  color: var(--pf-global--Color--200);
}
.kubevirt-cpu-pinning__checkbox {
  margin-top: var(--pf-global--spacer--md);
  margin-bottom: var(--pf-global--spacer--md);
}
